body {
    background-color: #f8f8f8;
    font-family: 'Metrophobic', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d7e7e8;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 60px;
}

header .search-input-container {
    position: relative;
    width: 30%;
    margin-right: 2.3%;
}

.search-input-container input[type="text"] {
    width: 100%;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}


header .search-input-container img {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    
}

nav {
    background-color: #6bc3c9;
    padding: 10px 0;
    text-align:end;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 41px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    transition: 0.2ms 0.3s;
    color: #a6f9ff;

}

.hidden {
    display: none;
}

#produtosMenu {
    margin-top: 20px;
}

#produtosMenu {
    background-color: #6bc3c9;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 40px;
    font-size: 16px;
    
}


#produtosMenu button {
    background-color: #6bc3c9;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
   
    font-size: 16px;
    
}


#produtosMenu button {
    background-color: #6bc3c9;

}

#produtosMenu button:hover {
    background-color: #4a9ba1;
}


main {
    padding: 20px 0;
}

.container {
    max-width: 960px; /* Defina uma largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
        height: auto; /* or set a specific height, e.g., 300px */
        overflow-y: auto; /* add a scrollbar if the content exceeds the height */
      }

      .card-text {
        text-overflow: ellipsis; /* truncate the text with an ellipsis (...) */
        white-space: nowrap; /* prevent the text from wrapping to a new line */
        overflow-x: hidden; /* hide the overflowed text */
      }
      

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    margin-bottom: 20%;
}

.card-img-top {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #d7e7e8;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    color: #4a4a4a;
    position: fixed; /* Posiciona o rodapé fixo na tela */
    bottom: 0; /* Posiciona o rodapé na parte inferior */
    width: 100%; /* Define a largura do rodapé para 100% */
    z-index: 10; /* Define a ordem de empilhamento para que o rodapé fique em cima dos outros elementos */
}

footer a {
    color: #6bc3c9;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
}